@model EsendexClient.Models.EsendexCredentials
<html>
<head>
    <title>Aaron's Esendex Mailbox</title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/Content/mail.css" type="text/css" media="all" />
    <script src="https://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/Scripts/mail.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4" style="padding: 0">
                <div class="main-container" style="height: auto">
                    <div class="panel-header">Login with your Esendex credentials</div>
                    <div style="padding: 10px">
                        @using (Html.BeginForm())
                        {
                            <div class="form-group">
                                <label for="username">Username</label>
                                @Html.TextBoxFor(model => model.Username, new Dictionary<string, object> { { "class", "form-control" }, { "id", "username" } })
                            </div>

                            <div class="form-group">
                                <label for="password">Password</label>
                                @Html.PasswordFor(model => model.Password, new Dictionary<string, object> { {"class", "form-control"}, {"id", "password"} })
                            </div>

                            <div class="form-group">
                                <input type="submit" class="btn btn-default"/>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" charset="utf-8">

</script>
</html>