<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SendServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="SendServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://www.esendex.com/secure/messenger/soap/SendService.asmx"
                binding="basicHttpBinding" bindingConfiguration="SendServiceSoap"
                contract="Soap.SendService.SendServiceSoap" name="SendServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>